<form class="form" [formGroup]="form" (ngSubmit)="submit()">

  <label class="label">Full Name</label>
  <input
    class="input"
    type="text"
    formControlName="fullName"
    placeholder="Enter your full name"
  />
  <div class="error" *ngIf="submitted && f.fullName.invalid">
    Please enter your name (min 2 characters).
  </div>

  <label class="label">Work Email</label>
  <input
    class="input"
    type="email"
    formControlName="email"
    placeholder="name@company.com"
  />
  <div class="error" *ngIf="submitted && f.email.invalid">
    Please enter a valid email.
  </div>

  <label class="label">Password</label>
  <input
    class="input"
    type="password"
    formControlName="password"
    placeholder="At least 8 characters"
  />
  <div class="error" *ngIf="submitted && f.password.invalid">
    Password must be at least 8 characters.
  </div>

  <label class="label">Confirm Password</label>
  <input
    class="input"
    type="password"
    formControlName="confirmPassword"
    placeholder="Re-enter password"
  />
  <div class="error" *ngIf="submitted && f.confirmPassword.invalid">
    Please confirm your password.
  </div>

  <label class="checkline">
    <input type="checkbox" formControlName="agree" />
    <span>I agree to the Terms and Privacy Policy</span>
  </label>

  <div class="error" *ngIf="submitted && f.agree.invalid">
    You must accept the terms to continue.
  </div>

  <button class="primary" type="submit">
    Create Account
  </button>

  <p class="small">
    Already have an account?
   <span class="link" (click)="switchToLogin()">Sign in</span>
  </p>

</form>